@font-face {
  font-family: "HankRnd-Light";
  src: url("../fonts/Hank Rnd/EOT/HankRnd-Light.eot");
  src: url("../fonts/Hank Rnd/OTF/HankRnd-Light.otf") format("otf"), url("../fonts/Hank Rnd/WOFF2/HankRnd-Light.woff2") format("woff2"), url("../fonts/Hank Rnd/WOFF/HankRnd-Light.woff") format("woff"), url("../fonts/Hank Rnd/TTF/HankRnd-Light.ttf") format("truetype"); }
@font-face {
  font-family: "HankRnd-Regular";
  src: url("../fonts/Hank Rnd/EOT/HankRnd-Regular.eot");
  src: url("../fonts/Hank Rnd/OTF/HankRnd-Regular.otf") format("otf"), url("../fonts/Hank Rnd/WOFF2/HankRnd-Regular.woff2") format("woff2"), url("../fonts/Hank Rnd/WOFF/HankRnd-Regular.woff") format("woff"), url("../fonts/Hank Rnd/TTF/HankRnd-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "HankRnd-Bold";
  src: url("../fonts/Hank Rnd/EOT/HankRnd-Bold.eot");
  src: url("../fonts/Hank Rnd/OTF/HankRnd-Bold.otf") format("otf"), url("../fonts/Hank Rnd/WOFF2/HankRnd-Bold.woff2") format("woff2"), url("../fonts/Hank Rnd/WOFF/HankRnd-Bold.woff") format("woff"), url("../fonts/Hank Rnd/TTF/HankRnd-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "HankRnd-Black";
  src: url("../fonts/Hank Rnd/EOT/HankRnd-Black.eot");
  src: url("../fonts/Hank Rnd/OTF/HankRnd-Black.otf") format("otf"), url("../fonts/Hank Rnd/WOFF2/HankRnd-Black.woff2") format("woff2"), url("../fonts/Hank Rnd/WOFF/HankRnd-Black.woff") format("woff"), url("../fonts/Hank Rnd/TTF/HankRnd-Black.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo-Thin";
  src: url("../fonts/Heebo/Heebo-Thin.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo-Light";
  src: url("../fonts/Heebo/Heebo-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo-Regular";
  src: url("../fonts/Heebo/Heebo-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo-Medium";
  src: url("../fonts/Heebo/Heebo-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo-Bold";
  src: url("../fonts/Heebo/Heebo-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo-ExtraBold";
  src: url("../fonts/Heebo/Heebo-ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: "Heebo-Black";
  src: url("../fonts/Heebo/Heebo-Black.ttf") format("truetype"); }
html {
  font-size: 62.5%; }
  @media (max-width: 1800px) {
    html {
      font-size: 58%; } }
  @media (max-width: 1500px) {
    html {
      font-size: 53%; } }
  @media (max-width: 991px) {
    html {
      font-size: 48%; } }

body {
  min-width: 600px; }

header {
  font-family: "Heebo-Bold";
  z-index: 10000; }
  header .navbar {
    padding-top: 1rem !important;
    padding-bottom: 0.5rem !important;
    font-family: "Heebo-Bold";
    background-color: #fdfdfd !important;
    border-bottom: 1px solid #e4e4e4; }
    header .navbar a, header .navbar span {
      color: #000 !important; }
    header .navbar-left {
      margin-left: 0.1rem;
      font-size: 1.375rem; }
    header .navbar-center {
      font-size: 2.2rem; }
      header .navbar-center img {
        margin-top: -0.15rem;
        margin-right: 0.5rem;
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 50%; }
    header .navbar-right {
      font-size: 1.375rem; }
  header .header-links {
    font-family: "Heebo-Regular";
    background-color: #fdfdfd !important;
    padding: 0;
    padding-top: 4rem;
    display: flex;
    border-bottom: 1.25px solid #e4e4e4; }
    header .header-links ul {
      padding: 0;
      margin: 0;
      display: flex;
      list-style: none; }
      header .header-links ul li {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        padding-bottom: 1.2rem;
        margin-right: 1.8rem;
        text-align: center; }
        header .header-links ul li a {
          white-space: nowrap;
          text-decoration: none;
          font-size: 1.45rem;
          color: #8f8fa2; }
        header .header-links ul li.active {
          font-family: "Heebo-Bold";
          position: relative; }
          header .header-links ul li.active a {
            color: #343441; }
          header .header-links ul li.active::after {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1.25px;
            width: 100%;
            transform: translate(0, 100%);
            background-color: #fd2851; }
    header .header-links-btn, header .header-links-btn:hover {
      margin-top: -0.2rem;
      font-family: "Heebo-Bold";
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      height: 2.6rem;
      display: block;
      margin-left: auto;
      padding: 0.5rem 1.4rem;
      font-size: 1.2rem;
      color: #fff;
      border-radius: 14px;
      background-color: #fd2851; }

main {
  margin-top: 13rem;
  padding-bottom: 3rem;
  background-color: #f8f9fb; }

.section-top {
  padding-top: 4rem;
  display: grid;
  grid-gap: 3.2rem;
  grid-template-areas: "card1 card2 card3" "card4 card4 card5";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 34rem 68rem;
  min-width: 100rem !important; }
  @media (max-width: 1800px) {
    .section-top {
      grid-gap: 2.9rem; } }
  @media (max-width: 1500px) {
    .section-top {
      grid-gap: 2.6rem; } }
  @media (max-width: 1199px) {
    .section-top {
      grid-gap: 2rem; } }
  @media (max-width: 991px) {
    .section-top {
      grid-gap: 1.6rem; } }

.graph-card {
  height: 34rem;
  width: 100%;
  padding-bottom: 3rem;
  border-radius: 13px;
  border: solid 1.5px #f5f5f5; }
  .graph-card-1 {
    grid-area: card1; }
  .graph-card-2 {
    grid-area: card2; }
  .graph-card-3 {
    grid-area: card3; }
  .graph-card-header {
    padding: 2rem;
    padding-bottom: 1.8rem; }
    .graph-card-header h3 {
      margin: 0;
      margin-top: -0.1rem;
      white-space: nowrap;
      font-family: "Heebo-Bold";
      font-size: 2.3rem;
      line-height: 2.8rem;
      color: #000; }
    .graph-card-header h4 {
      margin-top: 0.1rem;
      margin-bottom: 0.8rem;
      font-family: "Heebo-Medium";
      font-size: 1.16rem;
      color: #88888c;
      letter-spacing: 0.24px; }
  .graph-card-body {
    display: flex;
    justify-content: space-between;
    min-height: calc(100% - 9.9rem);
    padding-left: 4.4rem;
    padding-right: 4.4rem;
    padding-bottom: 3.5rem; }
    .graph-card-body .bar {
      position: relative;
      width: 16px;
      height: auto;
      border-radius: 6px;
      background-color: rgba(193, 192, 200, 0.24); }
      @media (max-width: 1400px) {
        .graph-card-body .bar:first-child {
          display: none !important; } }
      .graph-card-body .bar-fill {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 6px; }
        .graph-card-body .bar-fill-green {
          background: linear-gradient(#3cf166, #17de24); }
        .graph-card-body .bar-fill-orange {
          background: linear-gradient(#f5e144, #ffa30f); }
        .graph-card-body .bar-fill-red {
          background: linear-gradient(#fa2020, #ef0049); }
      .graph-card-body .bar-info {
        font-family: "HankRnd-Bold";
        position: absolute;
        white-space: nowrap;
        left: 50%;
        bottom: -5.5%;
        font-size: 1.15rem;
        color: #6f6e77;
        transform: translate(-50%, 100%); }

.people {
  font-family: "Lato";
  grid-area: card4;
  height: auto;
  height: 100% !important;
  border: none; }
  .people .card-header {
    padding: 2rem 2.6rem;
    border: solid 1.5px #f5f5f5;
    border-bottom: solid 1.3px #f5f5f5;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px; }
    .people .card-header span {
      margin-left: 0.2rem;
      font-weight: normal; }
    .people .card-header h3 {
      margin: 0;
      margin-top: -0.1rem;
      font-family: "Heebo-Bold";
      font-size: 2.3rem;
      color: #000;
      line-height: 2.8rem; }
    .people .card-header h4 {
      margin-top: 0.1rem;
      margin-bottom: 0.8rem;
      font-family: "Heebo-Medium";
      font-size: 1.16rem;
      color: #88888c;
      letter-spacing: 0.24px; }
    .people .card-header .add-btn {
      align-self: center;
      display: inline-block;
      position: relative;
      width: 33px;
      height: 33px;
      border: 2px solid #0087ff;
      border-radius: 50%;
      cursor: pointer; }
      .people .card-header .add-btn::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 2px;
        background-color: #0087ff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .people .card-header .add-btn::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 14px;
        background-color: #0087ff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
  .people .list-group-flush {
    max-height: calc(100% - 12.1rem);
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    border: none;
    border: solid 1.5px #f5f5f5;
    border-top: none;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px; }
    .people .list-group-flush::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */ }
  .people .list-group-item {
    position: relative;
    padding: 0.9rem 2.6rem;
    font-size: 1.3rem;
    color: #354052;
    border: none; }
    .people .list-group-item:not(:last-of-type) {
      border-bottom: solid 1.14px rgba(234, 235, 238, 0.67); }
    .people .list-group-item.active {
      border-color: #eaebee;
      border-top: solid 1.14px rgba(234, 235, 238, 0.67);
      background-color: #f4faff; }
      .people .list-group-item.active .active-link p {
        font-weight: 600;
        font-size: 1.35rem;
        margin-bottom: 0 !important;
        margin-right: 2px;
        text-align: center; }
    .people .list-group-item img {
      width: 2.7rem;
      height: 2.7rem; }
    .people .list-group-item .name {
      padding-left: 1.8rem;
      font-weight: 700;
      white-space: nowrap; }
    .people .list-group-item .prof {
      font-family: "Heebo-Regular";
      position: absolute;
      width: 35%;
      top: 50%;
      left: 57%;
      transform: translate(-50%, -50%); }
    .people .list-group-item .btn-custom {
      font-size: 1.4rem;
      text-decoration: none;
      display: inline-block;
      width: 8rem;
      padding: 0.65rem 0;
      color: #fff;
      font-weight: 700;
      border-radius: 3px; }
      .people .list-group-item .btn-custom-green {
        background: linear-gradient(#3cf166, #17de24); }
      .people .list-group-item .btn-custom-orange {
        background: linear-gradient(#f5e144, #ffa30f); }
      .people .list-group-item .btn-custom-red {
        background: linear-gradient(#fa2020, #ef0049); }

.overview {
  padding: 2rem;
  padding-bottom: 0;
  background-color: #fff;
  border-radius: 13px;
  border: solid 1.5px #f5f5f5; }
  .overview .graph-card {
    height: 50%;
    padding: none;
    border: none; }
    .overview .graph-card-header {
      padding: 0;
      padding-bottom: 1.8rem; }
    .overview .graph-card-body {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
      padding-bottom: 3rem; }
    .overview .graph-card h3 {
      margin-top: -0.15rem; }
    .overview .graph-card .options {
      margin: 0;
      margin-top: -0.1rem;
      font-family: "Heebo-Regular";
      margin-bottom: 0.6rem;
      font-size: 1.2rem; }
      .overview .graph-card .options .active {
        font-family: "Heebo-Bold"; }
  .overview-bottom {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.8rem; }
    .overview-bottom-top {
      display: flex;
      padding: 0 1.6rem;
      margin: 0 .4rem;
      padding-top: 2.4rem;
      padding-bottom: 3rem;
      border-top: solid 1.25px #f1f1f3;
      border-bottom: solid 1.25px #f1f1f3;
      justify-content: space-between; }
      .overview-bottom-top-second, .overview-bottom-top-first {
        margin-right: .5rem; }
      .overview-bottom-top h3 {
        margin: 0;
        margin-bottom: 0.5rem;
        font-family: "Heebo-Bold";
        font-size: 2.5rem; }
      .overview-bottom-top p {
        white-space: nowrap;
        margin-bottom: 0;
        font-family: "Heebo-Medium";
        font-size: 1.3rem;
        color: #7b7986; }
        .overview-bottom-top p span {
          margin-top: .1rem;
          margin-right: .1rem;
          display: inline-block;
          margin-left: .5rem;
          font-family: "Heebo-Bold";
          font-size: 1.1rem;
          color: #fff;
          padding: 0.3rem 1rem;
          border-radius: 2.2rem; }
          .overview-bottom-top p span.plus {
            background-color: #2eea4e; }
          .overview-bottom-top p span.minus {
            background-color: #fb2133; }
    .overview-bottom-6, .overview-bottom-12 {
      padding: 1.7rem 1.6rem;
      margin: 0 .4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1.25px #f1f1f3; }
      .overview-bottom-6 p, .overview-bottom-12 p {
        margin-bottom: 0;
        font-family: "Heebo-Bold";
        font-size: 1.45rem; }
        .overview-bottom-6 p span, .overview-bottom-12 p span {
          display: block;
          font-family: "Heebo-Regular";
          font-size: 1.2rem;
          color: #8a8a8e; }
      .overview-bottom-6 a, .overview-bottom-12 a {
        text-decoration: none;
        font-family: "Heebo-Bold";
        padding: 0.5rem 1.7rem;
        padding-top: .7rem;
        font-size: 1.2rem;
        line-height: 1.2rem;
        color: #007aff;
        border-radius: 17px;
        background-color: #efeff4; }
    .overview-bottom-text {
      margin-left: 1rem;
      display: inline-block;
      padding-top: 1.2rem;
      font-family: "Heebo-Regular";
      font-size: 1.2rem;
      color: #777779; }

.options {
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  margin-right: auto;
  font-size: 1.45rem;
  font-weight: normal; }
  .options a {
    color: #878590; }
    .options a.active {
      color: #1a173b; }
  .options .divider {
    margin: 0 0.5rem;
    font-weight: bold; }

.p-default {
  padding-left: 35rem !important;
  padding-right: 35rem !important; }
  @media (max-width: 1800px) {
    .p-default {
      padding-left: 17rem !important;
      padding-right: 17rem !important; } }
  @media (max-width: 1500px) {
    .p-default {
      padding-left: 12rem !important;
      padding-right: 12rem !important; } }
  @media (max-width: 1199px) {
    .p-default {
      padding-left: 10rem !important;
      padding-right: 10rem !important; } }
  @media (max-width: 991px) {
    .p-default {
      padding-left: 5rem !important;
      padding-right: 5rem !important; } }
  @media (max-width: 767px) {
    .p-default {
      padding-left: 3rem !important;
      padding-right: 3rem !important; } }

/*# sourceMappingURL=style.css.map */
